* {
    font-family: "Titillium Web", Helvetica, arial;
}
h1 {
    font-size: 50px;
    font-weight: normal;
    margin: 0;
}

#right-panel {
    float: right;
    font-size: 3em;
}

.weather-day {
    width: 20%;
    float: left;
    background-color: white;
    padding: 5px;
    margin: 0 5px;
    text-align: center;
}
#events {
    background-color: #FFFFFF;
    width: 50%;
}
.event-title {
    font-weight: bold;
}
.event-date {
    font-size: 0.7em;
}
.event-description {
    font-size: 0.8em;
}
.event.user1 {
    background-color: #C8D7FF;
}
.event.user2 {
    background-color: #F1D5FF;
}
.event.all {
    background-color: #AAFFAF;
}
