* {
    font-family: "Titillium Web", Helvetica, arial;
}
h1 {
    font-size: 50px;
    font-weight: normal;
    margin: 0;
}

#right-panel {
    float: right;
    font-size: 3em;
}

.weather-day {
    width: 20%;
    float: left;
    background-color: white;
    padding: 5px;
    margin: 0 5px;
    text-align: center;
}
